<%- include("header") -%>

<h2>About</h2>

<p>To-do list using node, express, ejs and mongoose.</p>
<p>How to use:</p>
<p>Use the root "/" route for general list</p>
<p>Define a new route for a new list. For example, to create a work list enter "/work" on the URL</p>

<%- include("footer") -%>
